---
# Tasks to manage access port to interface policy leaf profile with read_csv
- name: "Read CSV Access Port to Interface Policy Leaf Profile"
  read_csv:
    path: "{{ csv_dir }}/access_port_to_int_policy_leaf.csv"
    delimiter: ','
  register: access_port_to_int_policy_leaf_csv
  when: (csv_dir + '/access_port_to_int_policy_leaf.csv') is file

- name: "Display detected Access Port to Interface Policy Leaf Profile "
  debug:
    msg: "Access Port Selectors to process: {{ access_port_to_int_policy_leaf_csv.list | map(attribute='access_port_selector') | list }}"
  when: access_port_to_int_policy_leaf_csv is defined and access_port_to_int_policy_leaf_csv.list is defined

- name: "Create Access Port Selector"
  cisco.aci.aci_access_port_to_interface_policy_leaf_profile:
    host: "{{ aci_hostname }}"
    username: "{{ aci_username }}"
    password: "{{ aci_password }}"
    validate_certs: "{{ aci_validate_certs | default(false) }}"
    annotation: ""
    use_ssl: true
    interface_profile: "{{ item.interface_profile }}"
    access_port_selector: "{{ item.access_port_selector }}"
    description: "{{ item.description | default('') }}"
    port_blk: "{{ item.port_blk | default(omit) }}"
    from_port: "{{ item.from_port }}"
    to_port: "{{ item.to_port }}"
    policy_group: "{{ item.policy_group | default(omit) }}"
    state: "{{ item.state | default(global_state) }}"
  loop: "{{ access_port_to_int_policy_leaf_csv.list }}"
  when:
    - access_port_to_int_policy_leaf_csv is defined
    - access_port_to_int_policy_leaf_csv.list is defined
    - item.interface_profile is defined
    - item.access_port_selector is defined
    - item.from_port is defined
    - item.to_port is defined
  tags:
    - access_port_to_int_policy_leaf
    - aci_access_port_to_interface_policy_leaf_profile